@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-success text-dark" asp-area="" asp-page="Create">Add new Book</a>

<br />
<br />
<form method="post">
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.Id  </td>
            <td>@book.Name</td>
            <td>@book.Description</td>
            <td>@book.Price</td>
            <td>
                <button class="text-success" asp-page="./Edit" asp-route-id="@book.Id">Edit</button> |
                <button class="text-danger" type="submit" asp-page-handler="delete"
                        asp-route-id="@book.Id">
                    delete
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>
</form>
